In [1]:
import os
import pandas as pd

In [2]:
path_to_dataset = "../Data/Dataset/baomoi/"
list_csv = [path_to_dataset + file for file in os.listdir(path_to_dataset) if (file[-4:] == ".csv")]
list_csv

['../Data/Dataset/baomoi/data_v7.csv',
 '../Data/Dataset/baomoi/data_v6.csv',
 '../Data/Dataset/baomoi/data_v4.csv',
 '../Data/Dataset/baomoi/data_v5.csv',
 '../Data/Dataset/baomoi/data_v1.csv',
 '../Data/Dataset/baomoi/data_v2.csv',
 '../Data/Dataset/baomoi/data_v3.csv',
 '../Data/Dataset/baomoi/data_v8.csv',
 '../Data/Dataset/baomoi/data_v9.csv',
 '../Data/Dataset/baomoi/data_v10.csv']

In [3]:
data = pd.read_csv(list_csv[0])
for csv in list_csv:
  df = pd.read_csv(csv)
  data = pd.concat([df, data], axis=0)

In [5]:
# data = data.rename(columns={"Contents": "Content", "Labels": "Label"})
data = data.dropna(subset=["Content"])
data = data.drop_duplicates(subset=["Content"])

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8415 entries, 0 to 1050
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8415 non-null   int64
 1   Link        8415 non-null   object
 2   Content     8415 non-null   object
 3   Label       8415 non-null   object
 4   cc          0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 394.5+ KB

In [8]:
data["Label"].value_counts()

Kinh tế      1179
Xã hội       1073
Pháp luật     999
Thế giới      786
Đời sống      777
Giải trí      703
Thể thao      699
Nhà đất       569
Văn hóa       561
Giáo dục      292
Công nghệ     277
Khoa học      254
Xe cộ         246
Name: Label, dtype: int64

In [10]:
data = data[data["Label"].isin(["Kinh tế", 'Pháp luật', 'Thể thao', 'Giải trí', 'Giáo dục'])]

In [16]:
dic_label = {"Kinh tế": "business", 'Pháp luật': "politics", 'Thể thao': "sport", "Giải trí": "entertainment", "Giáo dục": 'education'}
def change_name_label(x):
  return dic_label[x]

In [17]:
data["Label"] = data["Label"].apply(change_name_label)

In [19]:
data.to_csv("../Data/Dataset/baomoi/merged_v1.csv")

In [18]:
data

,Unnamed: 0,Link,Content,Label,cc
0,0,https://baomoi.com/sau-20-nam-lam-nghe-lee-min...,Mặc dù đã có 20 năm hoạt động trong làng giải ...,entertainment,NaN
1,1,https://baomoi.com/chan-dung-nam-than-dj-wukon...,DJ Wukong đảm nhận vai trò hỗ trợ thí sinh cũn...,entertainment,NaN
3,3,https://baomoi.com/luu-y-cac-moc-quan-trong-ti...,Thí sinh tham dự ngày hội tư vấn xét tuyển năm...,education,NaN
4,4,https://baomoi.com/hai-nguoi-dan-ong-bat-ran-h...,"Clip, Bắt rắn trong xe ô tô Theo Zing new",politics,NaN
5,5,https://baomoi.com/gia-vang-hom-nay-15-5-bat-t...,Thời điểm 8h45 sáng nay ngày 15/5 theo giờ Việ...,business,NaN
...,...,...,...,...,...
1045,1045,https://baomoi.com/chiec-vay-ngan-khien-giai-q...,Ban tổ chức Madrid Open bị chỉ trích vì trang...,sport,NaN
1046,1046,https://baomoi.com/tand-cap-cao-tai-tp-hcm-co-...,"Ngày 10-5, TAND Cấp cao tại TP.HCM đã tổ chức ...",politics,NaN
1047,1047,https://baomoi.com/bai-cuoi-yeu-cau-xu-ly-ngay...,"Đến tận ngõ, gõ tận cửa Những năm qua, hoạt độ...",politics,NaN
1049,1049,https://baomoi.com/doanh-nghiep-viet-co-the-ma...,Nhiều doanh nghiệp vẫn đang khó khăn Theo phân...,business,NaN
1050,1050,https://baomoi.com/nhung-loi-tri-an-danh-cho-h...,Sergio Busquets tuyên bố vào thứ Tư rằng anh s...,sport,NaN