In [1]:
import os
import pandas as pd

In [70]:
path_to_dataset = "../baomoi/data/"
list_csv = [path_to_dataset + file for file in os.listdir(path_to_dataset) if (file[-4:] == ".csv" and file[:4] == "baom")]
list_csv

['../baomoi/data/baomoi_giaoduc.csv', '../baomoi/data/baomoi_thethao.csv']

In [72]:
data = pd.read_csv(list_csv[0])
for csv in list_csv:
  df = pd.read_csv(csv)
  data = pd.concat([df, data], axis=0)

In [74]:
data

,Unnamed: 0,Link,Content,Label
0,0,https://baomoi.com/chung-ket-bong-da-nu-viet-n...,"Tại đấu trường SEA Games, đội tuyển nữ Việt Na...",Thể thao
1,1,https://baomoi.com/sea-games-32-ngay-13-5-doan...,5 vận động viên giành 3 tấm HCV của Đội tuyển ...,Thể thao
2,2,https://baomoi.com/vdv-nguyen-linh-na-gianh-hc...,NaN,NaN
3,3,https://baomoi.com/huan-luyen-vien-mai-duc-chu...,"Huấn luyện viên Mai Đức Chung chia sẻ cảm xúc,...",Thể thao
4,4,https://baomoi.com/nhan-dinh-dt-nu-viet-nam-dt...,Theo lịch thi đấu bóng đá SEA Games 32 hôm nay...,Thể thao
...,...,...,...,...
2264,2264,https://baomoi.com/lap-khoang-trong-thiet-bi-d...,Thiết bị dạy học Chương trình mới lớp 6 tại Tr...,Giáo dục
2265,2265,https://baomoi.com/10-luu-y-voi-thi-sinh-trong...,NaN,NaN
2266,2266,https://baomoi.com/giao-vien-my-bi-dieu-tra-vi...,Vụ việc xảy ra tại trường Trung học Lyndon B....,Giáo dục
2267,2267,https://baomoi.com/truong-tieu-hoc-ban-tru-a-l...,"Trường Tiểu học Bán trú ""A"" Long Thạnh biểu di...",Giáo dục
2268,2268,https://baomoi.com/thi-sinh-khong-bi-han-che-s...,NaN,NaN

In [50]:
df_baomoi = pd.read_csv('../baomoi/data/merged_baomoi.csv')
df_vietnamnet = pd.read_csv('../vietnamnet/data/merged_v1.csv')
df_thapcam = pd.read_csv('./merged_thapcam.csv')
df_vnexpress = pd.read_csv('../vnexpress/merged_vnexpress.csv')
df_merge = pd.concat([df_thapcam, df_baomoi, df_thapcam, df_vnexpress, df_vietnamnet])

In [75]:
# data = data.rename(columns={"Contents": "Content", "Labels": "Label"})
data = data.dropna(subset=["Content"])
data = data.drop_duplicates(subset=["Content"])

In [76]:
data

,Unnamed: 0,Link,Content,Label
0,0,https://baomoi.com/chung-ket-bong-da-nu-viet-n...,"Tại đấu trường SEA Games, đội tuyển nữ Việt Na...",Thể thao
1,1,https://baomoi.com/sea-games-32-ngay-13-5-doan...,5 vận động viên giành 3 tấm HCV của Đội tuyển ...,Thể thao
3,3,https://baomoi.com/huan-luyen-vien-mai-duc-chu...,"Huấn luyện viên Mai Đức Chung chia sẻ cảm xúc,...",Thể thao
4,4,https://baomoi.com/nhan-dinh-dt-nu-viet-nam-dt...,Theo lịch thi đấu bóng đá SEA Games 32 hôm nay...,Thể thao
5,5,https://baomoi.com/tuyen-vat-viet-nam-choi-xua...,Đô vật Trần Ánh Tuyết có tấm HCV tại SEA Games...,Thể thao
...,...,...,...,...
2258,2258,https://baomoi.com/dai-hoc-su-pham-ha-noi-cong...,"Sau khi kỳ thi đánh giá năng lực kết thúc, Trư...",Giáo dục
2260,2260,https://baomoi.com/cong-tac-giao-duc-chinh-tri...,"Thiếu tướng Hoàng Văn Sỹ, Phó bí thư Đảng ủy, ...",Giáo dục
2264,2264,https://baomoi.com/lap-khoang-trong-thiet-bi-d...,Thiết bị dạy học Chương trình mới lớp 6 tại Tr...,Giáo dục
2266,2266,https://baomoi.com/giao-vien-my-bi-dieu-tra-vi...,Vụ việc xảy ra tại trường Trung học Lyndon B....,Giáo dục
2267,2267,https://baomoi.com/truong-tieu-hoc-ban-tru-a-l...,"Trường Tiểu học Bán trú ""A"" Long Thạnh biểu di...",Giáo dục

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3063 entries, 0 to 2267
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3063 non-null   int64
 1   Link        3063 non-null   object
 2   Content     3063 non-null   object
 3   Label       3063 non-null   object
dtypes: int64(1), object(3)
memory usage: 119.6+ KB

In [78]:
data["Label"].value_counts()

Thể thao     1576
Giáo dục     1470
Thế giới        9
Pháp luật       2
Kinh tế         2
Công nghệ       2
Đời sống        1
Xã hội          1
Name: Label, dtype: int64

In [79]:
label1 = ["Kinh tế", 'Pháp luật', 'Thể thao', 'Giải trí', 'Giáo dục', "Sức khoẻ"]
label2 = ['kinhte', 'giaitri', 'giaoduc', 'phapluat', 'thethao', 'suckhoe']

In [80]:
data = data[data["Label"].isin(label1)]

In [81]:
dic_label1 = {"Kinh tế": "business", 'Pháp luật': "politics", 'Thể thao': "sport", "Giải trí": "entertainment", "Giáo dục":'education'}
dic_label2 = {'kinhte':'business', 'giaitri':'entertainment', 'giaoduc':'education', 'phapluat':'politics', 'thethao':'sport', 'suckhoe':'health'}
def change_name_label(x):
  return dic_label1[x]

In [82]:
data['Label'] = data["Label"].apply(change_name_label)

/var/folders/3p/99_58tl56kzdbsb1dw6qrs3m0000gn/T/ipykernel_87567/4028833633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Label'] = data["Label"].apply(change_name_label)

In [83]:
data["Label"].value_counts()

sport        1576
education    1470
politics        2
business        2
Name: Label, dtype: int64

In [84]:
data.to_csv(path_to_dataset + "merged_sport_education.csv")